<div class="tabs">
	<ul>
		<li class="<%= 'active' if current_page?(admin_root_path) %>"><%= link_to "All posts",  admin_root_path %></li>
		<li class="<%= 'active' if (current_page?(new_admin_post_path) || params[:action] == "create") %>"><%= link_to "Add new post",  new_admin_post_path %></li>
		<li><%= link_to 'Logout', destroy_admin_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	</ul>
</div>