<!DOCTYPE html>
<html>
<head>
  <title>SampleBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<h2>Admin panel</h2>
	<p class="sign_bar">Your signed in as <span><%= current_admin.email %></span> |<%= link_to 'Logout', destroy_admin_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<%= render 'layouts/admin/tabs' %>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
